/* Estilos generales del cuerpo de la página */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

/*/////////////////////////////////////////////////////////////////////////////////*/
/* Estilos del menú lateral */
.side-menu {
    width: 250px;
    background-color: #000000;
    color: #ff0000;
    padding: 20px;
    height: 100vh;
    position: fixed;
    left: -250px; /* Inicialmente oculto fuera de la pantalla */
    top: 0;
    transition: left 0.3s ease; /* Transición suave al abrir/cerrar */
    z-index: 2;
}

.side-menu ul {
    list-style: none;
    padding: 0;
}

.side-menu li {
    margin-bottom: 15px; /* Aumentamos el espaciado entre las opciones */
}

.side-menu a {
    display: block;
    text-decoration: none;
    color: #cfcece;
    font-weight: bold;
    padding: 12px 0; /* Espaciado vertical en los enlaces */
    transition: background-color 0.3s ease; /* Transición suave al pasar el cursor */
    font-family: 'Montserrat', sans-serif;
    font-size: 12px; /* Tamaño de letra disminuido */
    letter-spacing: 2px; /* Espaciado entre letras */
    word-spacing: 2px; /* Espaciado entre palabras */
}

.side-menu a:hover {
    background-color: #5e0b0b;
    border-radius: 15px; /* Borde redondeado suave */
}

.side-menu ul li:first-child a {
    position: relative; /* Añadimos posición relativa para el contenedor */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 5px 5px 0 0; /* Bordes redondeados solo en la parte superior */
    background-color: #030303; /* Color de fondo diferente */
    color: #06ffc9; /* Color de texto */
    font-weight: bold; /* Negrita */
}

/* Pseudo-elemento ::before para el fondo que abarque la parte superior */
.side-menu ul li:first-child a::before {
    content: ''; /* Agregamos contenido para el pseudo-elemento */
    position: absolute; /* Posición absoluta con relación al enlace */
    top: 0; /* En la parte superior */
    left: 0; /* Alineado a la izquierda */
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completa */
    background-color: #097509; /* Color de fondo igual al enlace */
    z-index: -1; /* Detrás del contenido del enlace */
    border-radius: 3px 3px 0 0; /* Bordes redondeados solo en la parte superior */
}

.logo {
    display: flex;
    align-items: center; /* Centrar verticalmente */
    padding: 5px 0;
}

.logo-img {
    width: 30px; /* Ajusta el tamaño según tus preferencias */
    height: 30px;
    margin-right: 5px; /* Añade un espacio entre la imagen y el texto */
    
}

/*/////////////////////////////////////////////////////////////////////////////////*/


/* Estilos del contenido principal */

main {
    flex: 1;
    padding: 80px;
    background-color: #f2f2f2;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: 2px; /* Espaciado entre letras */
    word-spacing: 2px; /* Espaciado entre palabras */
}

/* Estilos para el contenedor de opciones */
.content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 35%;
}

/* Estilos para cada opción */
.option {
    width: 150px;
    height: 150px;
    background-color: #fff;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.option i {
    font-size: 24px;
    margin-bottom: 10px;
}

.option p {
    font-size: 16px;
    font-weight: bold;
}

.option:hover {
    background-color: #d6d4d4;
    transform: scale(1.05);
}

/* Estilos para las subopciones */
.sub-options {
    display: none;
    position: absolute;
    background-color: #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 2;
    width: auto; /* Ajusta el ancho de las subopciones según tu preferencia */
    height:auto;
    text-decoration: none;
}

.top-menu li:hover .sub-options {
    display: block;
}

/* Ajusta el margen inferior de las subopciones */
.sub-options a {
    display: block;
    margin-bottom: 10px; /* Ajusta el valor según tu preferencia */
    text-decoration: none;
    color: #000000;
    transition: color 0.3s ease;
}

.sub-options a:hover {
    color: #fc0303;
}





/*/////////////////////////////////////////////////////////////////////////////////*/

/* Estilos del encabezado */
header {
    background-color: #030303;
    padding: 10px 0;
    width: 100%; /* Asegura que el encabezado ocupe todo el ancho */
    position: fixed; /* Fija el encabezado en la parte superior */
    top: 0;
    left: 0;
    z-index: 1; /* Asegura que esté encima del contenido */
}

.top-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

.top-menu li {
    display: inline-block; /* Vuelve a ser en línea para que las opciones estén en la misma línea */
    margin: 0 20px;
}


.top-menu a {
    text-decoration: none;
    color: #06ffc9;
    font-weight: bold;
    padding: 12px 0;
    transition: background-color 0.3s ease;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    word-spacing: 2px;
}

.top-menu a:hover {
    background-color: #000000;
    border-radius: 15px;
}
.logo2 {
    display: flex;
    align-items: center; /* Alinear contenido verticalmente */
}

/* Estilos para la imagen del logo */
.logo-img2 {
    width: 30px; /* Ajustar el tamaño de la imagen */
    height: 30px;
    margin-right: 10px; /* Agregar espacio entre la imagen y el texto */
}
/* Estilo para el enlace del logo en el menú superior */
.top-menu .logo2 a {
    text-decoration: none;
    color: #06ffc9; /* Color normal */
    font-weight: bold;
    /* No es necesario agregar la transición de color aquí */
}

/* Estilos para las opciones del menú en el estado normal */
.top-menu li:not(.logo2) a {
    color: #ffffff; /* Color normal */
}

/* Estilos para las opciones del menú al pasar el cursor sobre ellas */
.top-menu li:not(.logo2) a:hover {
    background-color: #5e0b0b;
    border-radius: 15px;
}
/*/////////////////////////////////////////////////////////////////////////////////*/

/* Estilos del footer */
footer {
    background-color: #000000;
    color: #ffff;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.footer-text {
    margin-bottom: 10px;
}

.footer-text a {
    color: #888585;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-text a:hover {
    color: #ff0000;
}

.footer-logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/*/////////////////////////////////////////////////////////////////////////////////*/

/* Estilos para el contenedor de opciones */
.options-container {
    margin-top: 50px;
    text-align: center;
  }
  
  /* Estilos para el cuadro de selección */
  #optionSelect {
    padding: 10px;
    font-size: 16px;
  }
  
  /* Estilos para el texto de selección */
  #selectedOption {
    font-weight: bold;
    color: #5e0b0b;
  }

  /*/////////////////////////////////////////////////////////////////////////////////*/

  table {
    border-collapse: collapse;
    width: 105%;
    margin-top: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #838383;
    padding: 2px;
    text-align: center;
    font-family: 'Verdana', sans-serif;
    font-size: 12px; 
}

th {
    background-color: #ffffff;
    font-weight: bold;
    font-family: 'Arial', sans-serif; /* Cambia la fuente de las cabeceras */
    font-size: 14px; 
    letter-spacing: 2px;
    word-spacing: 2px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #ffffff;
    transition: background-color 0.3s ease;
}

button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button.editar {
    background-color: #ffc107;
}

button.editar:hover {
    background-color: #d39e00;
}

button.cambiar-contraseña {
    background-color: #28a745;
}

button.cambiar-contraseña:hover {
    background-color: #218838;
}

button.eliminar {
    background-color: #dc3545;
}

button.eliminar:hover {
    background-color: #c82333;
}
  







